body {
    margin: 0;
    font-family: Poppins, sans-serif;
    text-align: center;
}

h2 {
    margin: 2rem auto 5rem auto;
    font-size: 2rem;
    width: fit-content;
}

#headline {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: yellow;
    width: 100%;
    z-index: 1;
}

#headline > * {
    margin: 1rem;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.hero > * {
    color: white;
    font-size: 2rem;
    padding: .5rem;
}

.hero > img {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(.4);
    object-fit: cover;
}

#title {
    font-size: 4rem;
    border-bottom: 5px solid red;
    text-shadow: -2px 2px 0px red;
}

.down {
    margin-top: 4rem;
    cursor: pointer;
    text-decoration: none;
    background: yellow;
    color: black;
    border-radius: 50%;
    padding: .5rem .5rem .25rem .5rem;
}

#dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%;
    height: 100%;
}

#countries {
    padding: 2.5rem 0;
    height: 100%;
}

#dropdown, 
#country-submit {
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem 2rem 8rem 2rem;
    padding: .5rem;
    width: 40%;
}

#country-submit {
    background: yellow;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: .25rem;
    cursor: pointer;
    width: 20%;
    text-decoration: none;
    color: black;
}

.graph-container {
    margin: 5rem 0;
}

#country-cases, #country-deaths {
    font-size: 1.5rem;
}